<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,105},{34,24}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{34,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bird0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,457},{34,24}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{34,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bird0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,436},{34,24}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,13},{34,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bird1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,131},{34,24}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{34,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bird1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,457},{34,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{34,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bird1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,157},{34,24}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{34,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bird2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,457},{34,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{34,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bird2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,457},{34,24}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{34,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bird2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,472},{34,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{34,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>fx_downfog01.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,359},{136,50}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,34},{136,50}}</string>
                <key>sourceSize</key>
                <string>{196,102}</string>
            </dict>
            <key>fx_downfog02.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,208},{142,60}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,22},{142,60}}</string>
                <key>sourceSize</key>
                <string>{196,102}</string>
            </dict>
            <key>fx_downfog03.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,349},{148,56}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,20},{148,56}}</string>
                <key>sourceSize</key>
                <string>{196,102}</string>
            </dict>
            <key>fx_downfog04.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,349},{142,56}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,13},{142,56}}</string>
                <key>sourceSize</key>
                <string>{196,102}</string>
            </dict>
            <key>fx_downfog05.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,436},{144,46}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,17},{144,46}}</string>
                <key>sourceSize</key>
                <string>{196,102}</string>
            </dict>
            <key>fx_fog01.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,187},{155,75}}</string>
                <key>offset</key>
                <string>{-11,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,53},{155,75}}</string>
                <key>sourceSize</key>
                <string>{341,161}</string>
            </dict>
            <key>fx_fog02.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,2},{221,101}}</string>
                <key>offset</key>
                <string>{21,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,28},{221,101}}</string>
                <key>sourceSize</key>
                <string>{341,161}</string>
            </dict>
            <key>fx_fog03.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,337},{163,97}}</string>
                <key>offset</key>
                <string>{-17,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,35},{163,97}}</string>
                <key>sourceSize</key>
                <string>{341,161}</string>
            </dict>
            <key>fx_fog04.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,119},{165,109}}</string>
                <key>offset</key>
                <string>{-15,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,20},{165,109}}</string>
                <key>sourceSize</key>
                <string>{341,161}</string>
            </dict>
            <key>fx_fog05.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,2},{205,97}}</string>
                <key>offset</key>
                <string>{-7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,25},{205,97}}</string>
                <key>sourceSize</key>
                <string>{341,161}</string>
            </dict>
            <key>fx_fog06.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,105},{181,81}}</string>
                <key>offset</key>
                <string>{24,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,32},{181,81}}</string>
                <key>sourceSize</key>
                <string>{341,161}</string>
            </dict>
            <key>fx_hit01.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,101},{89,84}}</string>
                <key>offset</key>
                <string>{-8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,57},{89,84}}</string>
                <key>sourceSize</key>
                <string>{215,186}</string>
            </dict>
            <key>fx_hit02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{147,182}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,1},{147,182}}</string>
                <key>sourceSize</key>
                <string>{215,186}</string>
            </dict>
            <key>fx_hit03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{163,186}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{163,186}}</string>
                <key>sourceSize</key>
                <string>{215,186}</string>
            </dict>
            <key>sheep_down_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{224,87}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,61},{224,87}}</string>
                <key>sourceSize</key>
                <string>{228,159}</string>
            </dict>
            <key>sheep_down_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,352},{152,103}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,36},{152,103}}</string>
                <key>sourceSize</key>
                <string>{228,159}</string>
            </dict>
            <key>sheep_down_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,101},{166,105}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,30},{166,105}}</string>
                <key>sourceSize</key>
                <string>{228,159}</string>
            </dict>
            <key>sheep_jump_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,206},{144,151}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,4},{144,151}}</string>
                <key>sourceSize</key>
                <string>{228,159}</string>
            </dict>
            <key>sheep_jump_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,366},{154,131}}</string>
                <key>offset</key>
                <string>{-13,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,12},{154,131}}</string>
                <key>sourceSize</key>
                <string>{228,159}</string>
            </dict>
            <key>sheep_jump_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,230},{160,105}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,23},{160,105}}</string>
                <key>sourceSize</key>
                <string>{228,159}</string>
            </dict>
            <key>sheep_jump_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{152,115}}</string>
                <key>offset</key>
                <string>{-12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,24},{152,115}}</string>
                <key>sourceSize</key>
                <string>{228,159}</string>
            </dict>
            <key>sheep_jump_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,208},{148,139}}</string>
                <key>offset</key>
                <string>{-12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,12},{148,139}}</string>
                <key>sourceSize</key>
                <string>{228,159}</string>
            </dict>
            <key>sheep_run_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,91},{168,113}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,23},{168,113}}</string>
                <key>sourceSize</key>
                <string>{228,159}</string>
            </dict>
            <key>sheep_run_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,188},{176,115}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,20},{176,115}}</string>
                <key>sourceSize</key>
                <string>{228,159}</string>
            </dict>
            <key>sheep_run_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,2},{178,115}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,11},{178,115}}</string>
                <key>sourceSize</key>
                <string>{228,159}</string>
            </dict>
            <key>sheep_run_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,190},{178,113}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,22},{178,113}}</string>
                <key>sourceSize</key>
                <string>{228,159}</string>
            </dict>
            <key>sheep_touch_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,370},{174,127}}</string>
                <key>offset</key>
                <string>{-5,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{174,127}}</string>
                <key>sourceSize</key>
                <string>{228,159}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sheep_atlas.png</string>
            <key>size</key>
            <string>{1003,499}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1fc59a3567ec23cb6139ec6e6be688c5:84c7bd2aad38bf20cfb46dcce8c8f8f3:228f67a1567a18d99e10d9bc52c7d2b4$</string>
            <key>textureFileName</key>
            <string>sheep_atlas.png</string>
        </dict>
    </dict>
</plist>
